# ignore sym link to SDK directory
ble-dev/nordic_sdk

# output build directories
adi-dev/iar_projects/M355_4WireImpedance_Plotter/iar/settings
adi-dev/iar_projects/M355_4WireImpedance_Plotter/iar/Debug
adi-dev/iar_projects/M355_Biased_EIS_Plotter/iar/settings
adi-dev/iar_projects/M355_Biased_EIS_Plotter/iar/Debug
adi-dev/iar_projects/M355_Biased_EIS_Plotter/iar/Debug/Obj
adi-dev/iar_projects/M355_Biased_EIS_Plotter/iar/Release
adi-dev/iar_projects/M355_Biased_EIS_Plotter/iar/Release/Obj
adi-dev/iar_projects/M355_Biased_EIS_Matchbox/iar/settings
adi-dev/iar_projects/M355_Biased_EIS_Matchbox/iar/Debug
adi-dev/iar_projects/M355_Biased_EIS_Matchbox/iar/Debug/Obj
adi-dev/iar_projects/M355_Biased_EIS_Matchbox/iar/Release
adi-dev/iar_projects/M355_Biased_EIS_Matchbox/iar/Release/Obj
ble-dev/target/pca10056/s140/ses/Output
ble-dev/target/pca10056/s140/ses/*.jlink
ble-dev/target/pca10040/s132/ses/Output
ble-dev/target/pca10040/s132/ses/*.jlink

# python stuff
win-dev/M355_4WireImpedance_Plotter/__pycache__
win-dev/M355_4WireImpedance_Plotter/.vscode
win-dev/.vscode
win-dev/*.csv
win-dev/bash.exe.stackdump
